nav {
    background-color: lightgray;
    border-radius: 5px;
    height: fit-content;
    text-align: center;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    display: inline;
    float: left;
}

.rightli {
    float: right;
}

nav ul li a {
    color: black;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav ul li a:hover {
    background: gray;
    color: white;
}

@media screen and (max-width: 600px) {
    nav a:not(:first-child) {display: none;}
}